# Global ignore
**/__pycache__/
**/*.py[cod]
**/*.sqlite3
**/.env
**/docker-compose.override.yml
**/docker-compose.*.yml

# Django migrations - istersen takip et, istersen ignore et:
# */migrations/*.py
# */migrations/*.pyc

# Node/React
frontend/node_modules/
frontend/build/
frontend/.cache/

# IDE/Editor
.vscode/
.idea/

# Log ve temp
*.log
